.index01{
  background-repeat: no-repeat;
  
  background-color: #95181A;
  background-position: right;
  background-image: url('../img/gastronomia.png');
  height:auto;

}

.textoId01{
  font-family: "MyriadPro";
  font-size:2em;
  
  color: #F7F5F5;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 2.5%;
}

