
.index03{
  height: auto;
  background-color: #145121;
  padding-bottom: 20px;
}
.titulo03{
  
  font-family: 'MoonFlower-Bold';
  color: #F7F5F5;
}

.cell_organizacao{
  width: 50vh;
  height: 50vh;
  border-radius: 100%;
  border: 3px solid #F7F5F5;
}
.ajusteImgOrganizacao{
  height: 40vh;
  margin-top: 5vh;
}
.letraOrganizacao{
  font-family: "MyriadPro";
  color: #F7F5F5;
  padding: 4%;
  font-size: 1.5em;
}
.ajusteBordaOrganizacao{
  margin-top: 30px;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}
