* {
  padding: 0px;
  margin: 0px auto;
}
@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: MoonFlower;
    src: url("../fonts/MoonFlower.ttf");
}

@font-face {
    font-family: MoonFlower-Bold;
    src: url("../fonts/MoonFlower-Bold.ttf");
}
.fundoBranco{
  background-color: #F7F5F5
}

.navCor {
  background-color: white;
  opacity: 0.44;
  /*Fonte UI/UX */
  font-family: 'MyriadPro'; 
  color: #70706F;
  font-weight: bold;
  text-transform: uppercase;/*Modo Capslog*/
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navItemCor{
  color: #262626 ;
}




.backNav{
  background-color:#95181A;
  
}
.listaNav{
      font-size: 2em;
      font-family: "MyriadPro";
      color: #F5F5F5; 
}



.navbar .navbar-collapse {
  text-align: center;
}

.navCorTeste{
  background-color: red;
  opacity: 1 !important;
}

.imgHeader{
  max-width: 8%;
}
.imgTituloHeader{
  max-width: 35%;
}
.buttonHeader{
  margin-top: 30px;
  color:#F5F5F5;
  background-color: #95181A;;
  border-color: #262626;
  font-size: 2em;
}
.ajuste1{
  height: 100px;
}
.letraHeader{
  font-size: 1500%;
  font-family: "MoonFlower";
  color: #70706F;
  
}
.subHeader{
  margin-top: -50px;
  font-size: 5em;
  font-family: "MoonFlower";
  color: #262626;
}

header {                        
    background-repeat: no-repeat;
    background-size: cover;                        
    overflow: hidden;
    background-image: url('../img/inicio.jpg');
    height: 100vh;
    color: #F7F5F5;                        
  }


.contentHeader {
  margin-top: 5%;
  position: relative;
}
footer{
  background-color: #F5F5F5;
}
.ajusteFooter{
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
}
.imgFooter{
  margin-top: 25px;
  height: 50px;
}


  /*#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}*/
@media screen and (min-width: 1921px){
  h1{
    font-size: 4em !important;
  }
}
@media screen and (max-width: 1750px) and (min-width: 1550px){
  h1{
    font-size: 4em !important;
  }

  h2{
    margin-top: 20px !important;
    font-size: 4em !important
  }
  .imgHeader{
    margin-top: 30px !important;
    max-width: 6% !important;
  }
  .imgTituloHeader{
    max-width: 30% !important;
  }
  .cell_organizacao{
    width: 45vh !important;
    height: 45vh !important;
  }
  .ajusteImgOrganizacao{
    height: 250px !important;
    margin-top: 5vh !important;
  }
}

@media screen and (max-width: 1549px) and (min-width: 1350px){
  .ajusteLarguraId02{
    width: 80vw !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .ajusteLista01{
    margin-left: 40px !important;
  }
  h2{
    margin-top: 20px !important;
    font-size: 4em !important
  }
  h1{
    font-size: 4em !important;
  }
    .imgHeader{
    margin-top: 30px !important;
    max-width: 7% !important;
  }
  .imgTituloHeader{
    max-width: 27% !important;
  }
  .cell_organizacao{
    width: 45vh !important;
    height: 45vh !important;
  }
  .ajusteImgOrganizacao{
    height: 230px !important;
    margin-top: 5vh !important;
  }
}
@media screen and (max-width: 1349px) and (min-width: 1200px){
  .ajusteLarguraId02{
    width: 80vw !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .ajusteLista01{
    margin-left: 20px !important;
  }
  .imgHeader{
    margin-top: 0px !important;
    max-width: 8% !important;
  }
  .imgTituloHeader{
    max-width: 30% !important;
  }
  h2{
    margin-top: 20px !important;
    font-size: 4em !important
  }
  h1{
    font-size: 4em !important;
  }
  .cell_organizacao{
    width: 39vh !important;
    height: 39vh !important;
  }
  .ajusteImgOrganizacao{
    height: 200px !important;
    margin-top: 3vh !important;
  }


}
@media screen and (max-width: 1199px) and (min-width: 992px){

  .index01{
    font-size: 0.77em !important;
  }
  .ajusteLista01{
    margin-left: 10px !important;
  }
  .ajusteLarguraId02{
    width: 80vw !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .cell_organizacao{
    width: 30vh !important;
    height: 30vh !important;
  }
  .ajusteImgOrganizacao{
    height: 150px !important;
    margin-top: 3vh !important;
  }
  h1{
    font-size: 4em !important;
  }

  h2{
    margin-top: 20px !important;
    font-size: 4em !important
  }
  .imgHeader{
    margin-top: 10px !important;
    max-width: 8% !important;
  }
  .imgTituloHeader{
    max-width: 40% !important;
  }
  .imgFooter{
    margin-top: 20px !important;
  }
  .ajusteFooter{
    width: 50% !important;
  }
  .listaNav{
    font-size: 1.5em !important;
  }

}

@media screen and (max-width: 991px) and (min-width: 877px){
  .index01{
    font-size: 0.8em !important;
  }
      .cell_organizacao{
    width: 40vh !important;
    height: 40vh !important;
  }
  .ajusteImgOrganizacao{
    height: 300px !important;
    margin-top: 5vh !important;
  }
  .ajusteLista01{
    margin-left: 5px !important;
  }
  h1{
    font-size: 4em !important;
  }

  h2{
    margin-top: 20px !important;
    font-size: 4em !important
  }
  .imgHeader{
    margin-top: 30px !important;
    max-width: 10% !important;
  }
  .imgTituloHeader{
    max-width: 40% !important;
  }
    .imgFooter{
    margin-top: 20px !important;
  }
  .ajusteFooter{
    width: 40% !important;
  }
  .listaNav{
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 876px) and (min-width: 768px){
  .index01{
    font-size: 1.05em !important;
    text-align: center !important;

    background-color: #95181A !important;
    background-position: right !important;
    background-image: url() !important;
    margin-left: 0% !important;
    overflow: hidden !important;

  }
  .textoId01{
    width: 100% !important;
  }

  .tamImg04{
    height: 200px;
  }

  h1{
    font-size: 4em !important;
  }

  h2{
    margin-top: 20px !important;
    font-size: 4em !important
  }
  .imgHeader{
    margin-top: 30px !important;
    max-width: 12% !important;
  }
  .imgTituloHeader{
    max-width: 45% !important;
  }
  .cell_organizacao{
    width: 30vh !important;
    height: 30vh !important;
  }
  .ajusteImgOrganizacao{
    height: 250px !important;
    margin-top: 3vh !important;
  }
  .imgFooter{
    margin-top: 20px !important;
  }
  .ajusteFooter{
    width: 50% !important;
  }
  .listaNav{
    font-size: 1.3em !important;
  }
}


@media screen and (max-width: 767px) and (min-width: 550px){


  .index01{
    font-size: 1.05em !important;
    
    text-align: center;

    background-color: #95181A !important;
    background-position: right !important;
    background-image: url() !important;
    margin-left: 0% !important;
    overflow: hidden !important;
  }

  .tamImg04{
    height: 200px;
  }

  h1{
    font-size: 4em !important;
  }

  h2{
    margin-top: 20px !important;
    font-size: 4em !important
  }
  .imgHeader{
    margin-top: 30px !important;
    max-width: 17% !important;
  }
  .imgTituloHeader{
    max-width: 65% !important;
  }
  .cell_organizacao{
    width: 30vh !important;
    height: 30vh !important;
  }
  .ajusteImgOrganizacao{
    height: 200px !important;
    margin-top: 4vh !important;
  }
    .imgFooter{
    margin-top: 20px !important;
  }
  .ajusteFooter{
    width: 80% !important;
  }
}

/*PROBLEMA NA MENOR TELA POR ISSO ESTA DIVISAO*/
@media screen and (max-width: 549px) and (min-width: 400px){

    .index01{
    font-size: 1.05em !important;
    
    text-align: center;

    background-color: #95181A !important;
    background-position: right !important;
    background-image: url() !important;
    margin-left: 0% !important;
    overflow: hidden !important;
  }



  h1{
    font-size: 4em !important;
  }

  h2{
    margin-top: 20px !important;
    font-size: 4em !important
  }
  .imgHeader{
    margin-top: 45px !important;
    max-width: 17% !important;
  }
  .imgTituloHeader{
    max-width: 65% !important;
  }
    .imgFooter{
    margin-top: 20px !important;
  }
  .ajusteFooter{
    width: 80% !important;
  }
}

/* MENOR TELA  -> PRONTA*/
@media screen and (max-width: 399px) and (min-width: 350px){

  .index01{
    font-size: 0.94em !important;
    
    

    background-color: #95181A !important;
    background-position: right !important;
    background-image: url() !important;
    margin-left: 0% !important;
    overflow: hidden !important;
  }

  .ajusteLarguraId02{
    width: auto;
  }

  .ajusteBordaOrganizacao{
    margin-left: -10px !important;

  }
  .letraOrganizacao{
    margin-left: 20px  !important;
  }
  .ajusteLista01{
    margin-left: 20px !important;
  }

  h1{
    font-size: 4em !important;
  }

  h2{
    margin-top: 10px !important;
    font-size: 4em !important
  }
  .imgHeader{
    margin-top: 20px !important;
    max-width: 17% !important;
  }
  .imgTituloHeader{
    max-width: 65% !important;
  }
  .imgFooter{
    margin-top: 20px !important;
  }
  .ajusteFooter{
    width: 90% !important;
  }
  .buttonHeader{
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 349px) {
    .index01{
    font-size: 0.94em !important;
    
    

    background-color: #95181A !important;
    background-position: right !important;
    background-image: url() !important;
    margin-left: 0% !important;
    overflow: hidden !important;
  }

  .ajusteLarguraId02{
    width: auto;
  }

  .ajusteBordaOrganizacao{
    margin-left: -10px !important;

  }
  .letraOrganizacao{
    margin-left: 20px  !important;
  }
  .ajusteLista01{
    margin-left: 20px !important;
  }

  h1{
    font-size: 4em !important;
  }

  h2{
    margin-top: 20px !important;
    font-size: 3.5em !important
  }
  .imgHeader{
    margin-top: 20px !important;
    max-width: 17% !important;
  }
  .imgTituloHeader{
    max-width: 45% !important;
  }
  .imgFooter{
    margin-top: 20px !important;
  }
  .ajusteFooter{
    width: 90% !important;
  }
  .buttonHeader{
    font-size: 1.2em !important;
  }
}